#wrap {
  max-width: 100%;
  max-height: 100%;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.7);
}

#header_in {
  margin: 0 auto;
  position: relative;
  width: 1400px;
}

#header_in h1 {
  position: absolute;
  top: 7px;
  float: left;
  display: block;
  width: 142px;
  height: 48px;
}

#header_in h1 img {
  width: 142px;
  height: 48px;
}

/* 헤더_네비 */
.nav {
  position: absolute;
  top: 25px;
  left: 20%;
}

.nav li {
  float: left;
  padding-right: 88px;
  font-size: 15px;
  font-weight: bold;
}

.nav li a {
  color: #000;
}

.menu-dropdown {
  display: none;
  position: absolute;
  top: 45px;
  left: 105%;
  transform: translateX(-50%);
  width: 1920px;
  height: 260px;
  background-color: rgba(255, 255, 255, 0.7);
  border-top: 1px solid #9c9c9c;
  z-index: 1;
}

.menu-dropdown ul {
}

.menu-dropdown li {
  display: block;
  text-align: center;
  padding: 13px 20px;
  font-size: 15px;
  line-height: 13px;
}

.menu-dropdown:hover,
.menu-trigger:hover .menu-dropdown {
  display: block;
}

.menu-trigger {
  position: relative;
}

.nav:hover .menu-dropdown {
  opacity: 1;
}

.nav:hover .menu-dropdown:hover {
  opacity: 0;
}

.dropdown {
  margin: 0 auto;
  width: 870px;
  border-top: 1px dott;
}

.menu-dropdown .brand_mn {
  width: 150px;
  float: left;
}

.brand_mn li,
.product_mn li {
  font-size: 13px;
}

.product_mn p {
  font-size: 13px;
  width: 100px;
  height: 100px;
  padding-top: 10px;
  float: left;
}

.menu-dropdown .product_mn {
  width: 400px;
  height: 74px;
  float: left;
}

/* 헤더_인포 */
#header_in .info {
  float: right;
  padding-top: 25px;
}

#header_in .info li {
  float: left;
  padding-right: 17px;
}

#header_in .info img {
  display: inline-block;
  width: 21px;
  height: 20px;
}

#header_in .info .faq {
  color: #000;
  font-weight: bold;
  padding-top: 3px;
}

#main {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 100px;
}

#container {
  width: 100%;
  height: 1180px;
  position: relative;
  max-width: 1920px;
  background-color: #2d2d2d;
}

#container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#container img:first-child {
  display: block;
}

button {
  position: fixed;
  height: 56px;
  width: 56px;
  background-color: rgba(226, 226, 226, 0.4);
  border: none;
  border-radius: 50%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

  #container {
    height: 980px;
  }

  .arrivals_text1 h3,
  .arrivals_text2 h3 {
    left: 150px;
  }

  .arrivals_text1 p,
  .arrivals_text2 p {
    right: 180px;
  }

  .arrivals_in1,
  .arrivals_in2 {
    margin-left: 160px;
  }

  .arrivals_in1 img,
  .arrivals_in2 img {
    width: 350px;
