#wrap {
  width: 100%;
  margin: 0 auto;
}

/* 헤더 */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid;
  background-color: rgba(255, 255, 255, 0.7);
}

#header_in {
  margin: 0 auto;
  position: relative;
  width: 1400px;
}

#header_in h1 {
  position: absolute;
  top: 7px;
  float: left;
  display: block;
  width: 142px;
  height: 48px;
}

#header_in h1 img {
  width: 142px;
  height: 48px;
}

/* 헤더_네비 */
.nav {
  position: absolute;
  top: 25px;
  left: 20%;
}

.nav li {
  float: left;
  padding-right: 88px;
  font-size: 15px;
  font-weight: bold;
}

.nav li a {
  color: #000;
}

.menu-dropdown {
  display: none;
  position: absolute;
  top: 45px;
  left: 105%;
  transform: translateX(-50%);
  width: 1920px;
  height: 260px;
  background-color: rgba(255, 255, 255, 0.7);
  border-top: 1px solid #9c9c9c;
  z-index: 1;
}

.menu-dropdown ul {
}

.menu-dropdown li {
  display: block;
  text-align: center;
  padding: 13px 20px;
  font-size: 15px;
  line-height: 13px;
}

.menu-dropdown:hover,
.menu-trigger:hover .menu-dropdown {
  display: block;
}

.menu-trigger {
  position: relative;
}

.nav:hover .menu-dropdown {
  opacity: 1;
}

.nav:hover .menu-dropdown:hover {
  opacity: 0;
}

.dropdown {
  margin: 0 auto;
  width: 870px;
  border-top: 1px dott;
}

.menu-dropdown .brand_mn {
  width: 150px;
  float: left;
}

.brand_mn li,
.product_mn li {
  font-size: 13px;
}

.product_mn p {
  font-size: 13px;
  width: 100px;
  height: 100px;
  padding-top: 10px;
  float: left;
}

.menu-dropdown .product_mn {
  width: 400px;
  height: 74px;
  float: left;
}

/* 헤더_인포 */
#header_in .info {
  float: right;
  padding-top: 25px;
}

#header_in .info li {
  float: left;
  padding-right: 17px;
}

#header_in .info img {
  display: inline-block;
  width: 21px;
  height: 20px;
}

#header_in .info .faq {
  color: #000;
  font-weight: bold;
  padding-top: 3px;
}

/* 제품메인 */
.product {
  margin: 0 auto;
  width: 855px;
  height: 495px;
  margin-top: 167px;
  color: #000;
}

.product strong {
  float: left;
  width: 399px;
  height: 398px;
  top: 170px;
  left: 533px;
}

.product img {
  width: 399px;
  height: 398px;
}

.product .p_h {
  float: right;
  width: 429px;
  height: 393px;
}

.product .p_h p {
  padding-bottom: 22px;
}

.p_h .pro_name_en {
  font-size: 45px;
  padding-bottom: 10px;
}

.p_h .pro_name {
  font-size: 20px;
}

.p_h h2 {
  padding-top: 35px;
  font-size: 12px;
  padding-bottom: 20px;
}

.p_h span {
  float: left;
  font-size: 12px;
  padding-bottom: 20px;
}

.p_h hr {
  width: 429px;
  margin-bottom: 20px;
}

.p_h .buy_go {
  float: left;
  display: inline-block;
  padding: 25px 95px;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.p_h .buy_go {
}

.product_in {
  margin: 0 auto;
  padding-top: 200px;
  width: 890px;
  height: 4250px;
  color: #000;
}

.product_in .img1 {
  float: left;
  padding-bottom: 35px;
}

.product_in .img1 img {
  width: 890px;
  height: 643px;
}

.product_in h2 {
  font-size: 24px;
  padding-bottom: 15px;
}

.product_in p {
  line-height: 25px;
  font-weight: 600;
}

.product_in .img2,
.product_in .img3,
.product_in .img4 {
  padding-top: 180px;
  padding-bottom: 35px;
  float: left;
}

.product_in .img2 img {
  width: 890px;
  height: 889px;
}

.product_in .img2-1 img,
.product_in .img2-2 img {
  padding-right: 15px;
  float: left;
  width: 50px;
  height: 50px;
}

.product_in .img4 img {
  width: 890px;
  height: 700px;
  background-size: cover;
}

hr {
  width: 1540px;
  margin: 0 auto;
}

.recommended {
  position: relative;
  padding-top: 100px;
  text-align: center;
  margin: 0 auto;
  width: 800px;
  height: 750px;
  color: #000;
  font-weight: 600;
}

.recommended h2 {
  padding-bottom: 100px;
}

.recommended .re1,
.recommended .re2 {
}

.recommended img {
  position: absolute;
  float: left;
  width: 170px;
  height: 380px;
}

.recommended .re1 img {
  left: 120px;
}

.recommended .re2 img {
  right: 120px;
}

.recommended .p1 {
  float: left;
  position: absolute;
  top: 650px;
  left: 160px;
}

.recommended .span1 {
  position: absolute;
  top: 700px;
  left: 175px;
}

.recommended .p2 {
  position: absolute;
  top: 650px;
  right: 160px;
}

.recommended .span2 {
  position: absolute;
  top: 700px;
  right: 170px;
}

/* 하단 */
#footer {
  width: 1920px;
  height: 350px;
  background-color: #242424;
}

#footer .f_1 {
  position: relative;
  margin: 0 auto;
  width: 1370px;
  height: 200px;
}

#footer .f_1 ul {
  position: absolute;
}

.link1 {
  bottom: 85px;
}

.link2 {
  left: 600px;
  bottom: 55px;
}

.f_1 li a {
  color: #fff;
  line-height: 30px;
}

.f_1 p a {
  position: absolute;
  top: 60px;
  right: 0;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.f_2 {
  width: 100%;
  height: 150px;
  background-color: #2d2d2d;
}

.f_2 .txt {
  position: relative;
  margin: 0 auto;
  top: 45px;
  width: 1370px;
}

.f_2 {
  color: #fff;
}

.f_2 span {
  position: absolute;
  top: 50px;
  color: #cfcfcf;
}

strong {
  position: absolute;
  right: 0px;
  top: 0px;
}
